
<!doctype html> <html> <head>  
<style> body{ 
 background-image: url("img_tree.png");
background-repeat: no-repeat; 
background-position: right top; 
background-attachment: fixed; }
</style>

<title>Delete User</title>   </head>

<a href=" https://www.doc.gold.ac.uk/usr/397/">Home</a> <br>

<h1><bold> This is a User removal page.</bold> </h1>
<body>
	<p>Please enter the detail.</p>
	<!-- delete user form -->
	<form action="/deleteusers" method="POST">
	<input id="search-box" type="text" name="username" placeholder="enter username" required><br> <br>
	<input id="search-box" type="text" name="email" placeholder="enter email" required><br> <br>
	<input type="submit" value="Submit" ></form>
</body>
</html>
