
 <!doctype html> <html>  
	 <head>  
		 <title>HOME PAGE</title>

		 <style> 
 body {   
	 background-color: lightblue; 
	 background-image: url("bgdesert.jpg");	} 
	 h1 {   color: brown;   text-align: center; }
	 p {  font-family: verdana;   font-size: 20px; }  
	 ul {   list-style-type: none;   margin: 0;   padding: 0;   overflow: hidden;   background-color: #333; } 
	 li {   float: left; } 
	 li a {   display: block;   color: white;   text-align: center;   padding: 14px 16px;   text-decoration: none;}        li a:hover {   background-color: #111; } </style>
</head> 
	<h1> This is Home page </h1>   <body>
<ul>
	            <li><a class="active" href="https://www.doc.gold.ac.uk/usr/397/">Home</a></li> 
		    <li><a href=" https://www.doc.gold.ac.uk/usr/397/addbook">AddBook</a></li> 
	            <li><a href= " https://www.doc.gold.ac.uk/usr/397/booklist">Books list</a></li>  
		    <li><a href= " https://www.doc.gold.ac.uk/usr/397/register">Register</a></li>
		    <li><a href= " https://www.doc.gold.ac.uk/usr/397/userlist">Registered Users</a></li> 
	            <li><a href= " https://www.doc.gold.ac.uk/usr/397/searchbooks">Search Books</a></li>
		    <li><a href= " https://www.doc.gold.ac.uk/usr/397/searchuser">Search Users</a></li>
	            <li><a href= " https://www.doc.gold.ac.uk/usr/397/users">Username</a></li>
		    <li><a href= " https://www.doc.gold.ac.uk/usr/397/login">Login Page</a></li>
                    <li><a href= " https://www.doc.gold.ac.uk/usr/397/deleteuser">DeleteUser Page</a></li> </ul>
		
<p>You can search available books using Search Books page and registered users using Search Users page. </p>
<p>You can add books to the database using Addbook page.</p>
<p>You can register users using the Register page.</p>
<p>Booklist page shows all the books added to the database and Register page shows all the registered users.</p>
</body>
</html>

