
<!doctype html> <html> <head>
		<style> 
body{  
	background-image: url("img_tree.png");
        background-repeat: no-repeat;   background-position: right top;
        background-attachment: fixed; }
h1 {  color: green;   text-align:left; }
p {  font-family: verdana;
      font-size:18px; } 
	
</style>

<title>Login page</title>
</head>

<a href=" https://www.doc.gold.ac.uk/usr/397/">Home</a>	<br>

<h1><bold> This is a Login page.</bold></h1>

<p>Please fill related data to login.</p>

<form action="/loggedin" method="POST">
	<input id="search-box" type="text" name="username" placeholder="enter username" required><br><br>
	<input id="search-box" type="text" name="password" placeholder="enter password" required ><br><br>
	<input id="search-box" type="text" name="email" placeholder="enter email" required ><br><br>
        <input type="submit" value="Submit" ></form>

</body> 
</html>

