
<!doctype html> <html>
	<head> 
		<style> 
body{ 
	background-image: url("img_tree.png"); 
	background-repeat: no-repeat; 
	background-position: right top; 
	background-attachment: fixed; }  
	h1 {  color: green;   text-align:left; } 
	p {  font-family: verdana;  
		font-size:18px; } 
	</style>

<title>Add users</title>   </head>
	<a href=" https://www.doc.gold.ac.uk/usr/397/">Home</a>	<br>
	
	<h1><bold> This is adduser page.</bold> </h1>
<body>

<p>Please fill related data to add user to the database</p>
<form action="/registered" method="POST">
	<input id="search-box" type="text" name="username" placeholder="enter username" required><br> <br>
	<input id="search-box" type="text" name="password" placeholder="enter password"required ><br> <br>
	<input id="search-box" type="text" name="email" placeholder="enter email" required ><br> <br>
<input type="submit" value="Submit" ></form>
</body>
</html>

